@font-face {
    font-family: 'SFRounded';
    src: url('/fonts/SF-Pro-Rounded-Regular.eot');
    src: url('/fonts/SF-Pro-Rounded-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SF-Pro-Rounded-Regular.woff2') format('woff2'),
    url('/fonts/SF-Pro-Rounded-Regular.woff') format('woff'),
    url('/fonts/SF-Pro-Rounded-Regular.ttf') format('truetype'),
    url('/fonts/SF-Pro-Rounded-Regular.svg#SF-Pro-Rounded-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SFRounded';
    src: url('/fonts/SF-Pro-Rounded-Semibold.eot');
    src: url('/fonts/SF-Pro-Rounded-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SF-Pro-Rounded-Semibold.woff2') format('woff2'),
    url('/fonts/SF-Pro-Rounded-Semibold.woff') format('woff'),
    url('/fonts/SF-Pro-Rounded-Semibold.ttf') format('truetype'),
    url('/fonts/SF-Pro-Rounded-Semibold.svg#SF-Pro-Rounded-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SFRounded';
    src: url('/fonts/SF-Pro-Rounded-Bold.eot');
    src: url('/fonts/SF-Pro-Rounded-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SF-Pro-Rounded-Bold.woff2') format('woff2'),
    url('/fonts/SF-Pro-Rounded-Bold.woff') format('woff'),
    url('/fonts/SF-Pro-Rounded-Bold.ttf') format('truetype'),
    url('/fonts/SF-Pro-Rounded-Bold.svg#SF-Pro-Rounded-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
